@model CUENTAS_POR_PAGAR.Models.NOTACREDITO

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estas seguro de que quieres eliminar esta:</h3>
<div>
    <h4>NOTA DE CREDITO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CODPROVEEDOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CODPROVEEDOR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CANTIDAD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NOTACREDITOID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
