@model CUENTAS_POR_PAGAR.Models.FACTURAS

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estas seguro de que quieres eliminar esta:</h3>
<div>
    <h4>FACTURAS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CODPROVEDORES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CODPROVEDORES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FORMADEPAGO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FORMADEPAGO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHAVENCIMIENTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHAVENCIMIENTO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DEBITO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DEBITO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREDITO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREDITO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAZONSOCIAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAZONSOCIAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FACTURASID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
