@model CUENTAS_POR_PAGAR.Models.PROVEEDORES

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>PROVEEDORES</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NOMBRES)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NOMBRES)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CIUDAD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CIUDAD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EMPRESA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EMPRESA)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="EstadoDeCuentas" asp-route-id="@Model.ID">Ver Estado</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
